
 <footer id="footer">
    <div class="contact">
        <h4><i class="fas fa-phone"></i> Phone Number: +30 698 588 4526</h4>
        <h4><i class="far fa-envelope"></i> E-mail: gougarasv@gmail.com</h4>
        <h4><i class="fas fa-location-arrow"></i> Adress: Athens-Greece, 11523</h4>
    </div>
    <div class="backToTop">
        <i class="fas fa-angle-double-up"></i>
        <h1>Back To Top</h1>
    </div>
    <div class="social">
        <h1>Social Media</h1>
        <div class="socialIcons">
            <a href="https://gr.linkedin.com/in/vasileios-gkougkaras"><img src="/images/linkedin.png" width="24px" height="24px"></a>
            <a href="https://el-gr.facebook.com/vasilis.gougaras"><img src="/images/facebook.png" width="24px" height="24px"></a>
            <a href="https://www.instagram.com/billy_g91/?hl=en"><img src="/images/instagram.png" width="24px" height="24px"></a>
            <a href="https://gitlab.com/Gkougkaras"><img src="/images/gitlab.png" width="24px" height="24px"></a>
        </div>
    </div>
</footer>

<!--Mobile Footer-->

<footer id="footerMobile">
    <div class="backToTop">
        <i class="fas fa-angle-double-up"></i>
        <h1>Back To Top</h1>
    </div>
    <hr>
    <div class="social">
        <h1>Social Media</h1>
        <div class="socialIcons">
            <a href="https://gr.linkedin.com/in/vasileios-gkougkaras"><img src="/images/linkedin.png" width="24px" height="24px"></a>
            <a href="https://el-gr.facebook.com/vasilis.gougaras"><img src="/images/facebook.png" width="24px" height="24px"></a>
            <a href="https://www.instagram.com/billy_g91/?hl=en"><img src="/images/instagram.png" width="24px" height="24px"></a>
            <a href="https://gitlab.com/Gkougkaras"><img src="/images/gitlab.png" width="24px" height="24px"></a>
        </div>
    </div>
    <hr>
    <div class="contact">
        <h4><i class="fas fa-phone"></i> Phone Number: +30 698 588 4526</h4>
        <h4><i class="far fa-envelope"></i> E-mail: gougarasv@gmail.com</h4>
        <h4><i class="fas fa-location-arrow"></i> Adress: Athens-Greece, 11523</h4>
    </div>   
</footer>

<script type="text/javascript" src="/js/App.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
AOS.init({
    duration:2000,
});
</script>
</body>

</html>