<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/lib/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a18c53aba4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
    <title>Interactive CV</title>
</head>


<body>
    <!--Main Navbar-->
    <nav class="navbar">
        <div class="navbar-links">
            <div class="nav-link" id="navHr"></div>
            <ul>
                <li>
                    <a class="nav-link"  id="homeNav" href="#">Home</a>
                </li>
                <li>
                    <a class="nav-link" id="projectsNav" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aboutNav" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="footerNav" href="#">Contact</a>
                </li>
            </ul>
            <div class="nav-link" id="navHr"></div>
        </div>
    </nav>