<%- include("partials/header") %>

    <div class="heroImg">
        <img id="mainPage" src="/images/mainPage.jpg" width="90%">
        <div class="info">
            <div id="fullName" data-aos="fade-left">Vasileios Gkougkaras</div>
            <hr>
            <div id="degree" data-aos="fade-right">Software Engineer</div>
        </div>      
    </div>

    <!--Welcome message section-->

    <div id="welcome-section">
        <div class="row">
            <div class="message">
                <hr class="messageHr">
                <h1>Welcome</h1>
                <hr class="messageHr">
                <p data-aos="flip-left">This is a page i created to use as an interactive CV/Portfolio to showcase a few of my front-end skills
                   in web-development.<br> Links to my other projects uploaded in Git-Lab are included in this page, as well as 
                   info about me and my social media profiles. <br>Don't hesitate to contact me for an interview or project assignment.
                </p>
            </div>
        </div>
    </div>
    <!-- projects section-->
    <div id="projects">
            <div class="projectImg">
               <img src="/images/projects.png" width="100%" height="auto">
            </div>
            <div class="projectsHeader">
               <h1>Projects</h1>
            </div>
    </div>
    <div class="firstProject">
        <div id="analogClock">
            <div class="container">
                <div class="clockContainer">
                    <div id="outterClock"></div>
                    <div id="clock"></div>
                    <div class="twelve">12</div>
                    <div class="one">1</div>
                    <div class="two">2</div>
                    <div class ="three">3</div>
                    <div class="four">4</div>
                    <div class="five">5</div>
                    <div class ="six">6</div>
                    <div class="seven">7</div>
                    <div class="eight">8</div>
                    <div class ="nine">9</div> 
                    <div class="ten">10</div>
                    <div class="eleven">11</div>
                    <div id="hours"></div>
                    <div id="minutes"></div>
                    <div id="seconds"></div>
                    <div id="innerCircle"></div>
                </div>		
            </div>
        </div>
        <div id="clockInfo">
            <hr class="messageHr">
            <h1>CSS Analog Clock</h1>
            <hr class="messageHr">
            <p data-aos="zoom-in-right">That was meant to be an analog clock built with HTML, CSS and Javascript.
            While creating it i used some nice CSS tricks to make it appear functional and test it out.<br>
            It turned out i liked the immitation better than putting the extra Javascript behind it. 
            It uses the CSS transorm property to rotate from a point of 270° to 629°. Each hand commits a full circle on
            its respective actual time creating the illusion of a functional clock.
            </p>
            <button onclick="window.location.href = 'https://gitlab.com/Gkougkaras/analog-clock';" class="seeMore" id="clockBtn">See More...</button>
        </div>
    </div>
    <div class="secondProject">
        <div id="sundcoInfo">
            <hr class="messageHr">
            <h1>S.und-Co Page Recreation</h1>
            <hr class="messageHr">
            <p data-aos="zoom-in-left">This is a project i created as part of an interview.<br>
                It is fully responsive and handles a media query to change on a mobile screen.
                A hero slideshow image stands on top working on dot click, creating a smooth effect with a bottom border.
                Following the slideshow is a part of images and text and before the footer a map and a form are placed.
                There are two different off-canvas menus, one shared for Desktop and mobile and one for mobile only.
            </p>
            <button onclick="window.location.href = 'https://gitlab.com/Gkougkaras/page-recreation-sound-co';" class="seeMore" id="pageBtn">See More...</button>
        </div>
        <div id="sundco">
            <img src="/images/sundco.png" width="100%" height="auto">
        </div>
    </div>

    <!--mobile second project order-->

    <div class="secondProjectMobile">
        <div id="sundcoMobile">
            <img src="/images/sundco.png" width="100%" height="auto">
        </div>
        <div id="sundcoInfoMobile">
            <hr class="messageHr">
            <h1>S.und-Co Page Recreation</h1>
            <hr class="messageHr">
            <p data-aos="zoom-in-left">This is a project i created as part of an interview.<br>
                It is fully responsive and handles a media query to change on a mobile screen.
                A hero slideshow image stands on top working on dot click, creating a smooth effect with a bottom border.
                Following the slideshow is a part of images and text and before the footer a map and a form are placed.
                There are two different off-canvas menus, one shared for Desktop and mobile and one for mobile only.
            </p>
            <button onclick="window.location.href = 'https://gitlab.com/Gkougkaras/page-recreation-sound-co';" class="seeMore" id="pageBtn">See More...</button>
        </div>
    </div>

    <!--About Me Section-->

    <div id="aboutHeader">
        <h1 data-aos="fade-up">about me</h1>
    </div>
    <hr>
    <div id="aboutParagraph">
        <p>Self-motivated and highly passionate, i am always trying to analyze problems from different angles,
            aiming to provide the best solution in each case.<br>

            Having graduated as an Electronic engineer in Alexander Technological Institute of Thessaloniki,<br>
            i started my career as a technician in a telecomunications company, being responsible for router configuration and troubleshooting.<br>

            <br>
            After fullfilling my military obligations, i took the role of a sales person at the same company and started creating software as a freelancer.
            My first project was a custom database named "Daedalus" created in Python.<br>
            i proceeded in working as an IT support member for the HR team of the Greek Helenic Ministry of Enivronment and Energy, 
            where i provided assistance to the stuff regarding various networking, software and hardware problems.<br>

            I recently took the Cisco CCNA courses to expand my knowledge in the field of networking and i was selected as one of the 150
            graduates that took place in the Java | Spring educational course powered by Code.Hub.
            As member of a four person software development team, we created a web application that stores data for a construction
            and repairs company. The app was built with a stack consisting of MySQL for the database, Java with Spring framework on
            the backend and html, css and bootstrap on the front end.<br>
            
            <br>Currently i am building a portfolio of web apps mainly on the front end part and this particular app is a way to showcase
            a few of the skills i acquired in the past months as well as another project to add to the list.

            On my free time i like to travel, enjoy some good video games and listen to good old Rock music.

            If you happened to check this project and read this far down and want to colaborate on a project, don't hesitate to contact 
            me on one of my social accounts that you ll find at the bottom of the page :)
            </p>
    </div>
    <hr>
    <div id="aboutHeader">
        <h1 data-aos="fade-up">Skills</h1>
    </div>
    <hr>
    <div class="skills">
        <div class="skillsfrontend">
            <h1>Front End</h1>
            <li>
                <h3>HTML5</h3><span class="bar"><span id="html5"></span></span>
            </li>
            <li>
                <h3>CSS3</h3><span class="bar"><span id="css3"></span></span>
            </li>
             <li>
                <h3>Javascript</h3><span class="bar"><span id="javascript"></span></span>
            </li>
             <li>
                <h3>JQuery</h3><span class="bar"><span id="jquery"></span></span>
            </li>
            <li>
                <h3>Bootstrap</h3><span class="bar"><span id="bootstrap"></span></span>
            </li>
            <li>
                <h3>React-Native</h3><span class="bar"><span id="react"></span></span>
            </li>
        </div>
        <div class="skillsbackend">
            <h1>Back End</h1>
            <li>
                <h3>Python</h3><span class="bar"><span id="python"></span></span>
            </li>
            <li>
                <h3>Java</h3><span class="bar"><span id="java"></span></span>
            </li>
            <li>
                <h3>Node.Js</h3><span class="bar"><span id="node"></span></span>
            </li>
            <h1>Databases</h1>
            <li>
                 <h3>MySQL</h3><span class="bar"><span id="mysql"></span></span>
            </li>
            <li>
                <h3>MongoDB</h3><span class="bar"><span id="mongoDB"></span></span>
           </li>
        </div> 
    </div>

    <%- include("partials/footer") %>