*{
	box-sizing: border-box;
    font-size: 100%;
    list-style: none;
    scroll-behavior: smooth;
}

body{
	padding:0;
	margin:0;
	width:100%;
    height: auto;
    background-color: rgba(13, 13, 21, 0.85);
}

.navbar{
	background-color: transparent;
	width:100%;
	height:50px;
    display:flex;
	justify-content:space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
}


#navHr{
    width:10%;
    border: 1px solid #515252;
	margin-top:1vh;
	margin-bottom:0.5vh;
}

.navbar-links{
	display:flex;
	width:100%;
	height:20px;
	justify-content: center;
	align-items: center;
}

.navbar-links ul{
	height:auto;
	list-style: none;
	display: flex;
	padding: 0;
	margin:0;
}

.navbar-links li a{
	text-decoration: none;
	color:#515252;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 1vw;
    padding: 1rem;
	margin-top:1vh;
	margin-bottom:0.5vh;
}

.navbar-links li a:hover{
    background-color: #515152;
    color: #ffffff;
}
.heroImg{
    width:100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.heroImg img{
    width: 100%;
    height:auto;
    mix-blend-mode: multiply;
}

.info{
    width:80%;
    height:auto;
    position: absolute;
    margin-top: 30%;
    letter-spacing: 1vw;
    text-transform: uppercase;
}

#fullName{
    color:#FFFFFF;
    font-family:Montserrat sans-serif;
    font-weight: 500;
    font-size: 2vw;
    text-shadow: 0px 1.2px 1.2px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}


#degree{
    color:#FFFFFF;
    font-family:Montserrat sans-serif;
    font-weight: 300;
    font-size: 1vw;
    margin-top:3vh;
    text-shadow: 0px 1.2px 1.2px;
}

#welcome-section{
    width:100%;
    height: auto;
    background-image: url("../images/welcomeImg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.row{
    width:100%;
    height: auto;
    padding:4vw;
    display:flex;
    background-color: rgba(13, 13, 21, 0.85);
    position: relative;
}

.message{
    width:40%;
    height: auto;
    display: inline-block;
    line-height: 2vw;
}

.message h1{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}

.message p{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 0.5px;
    text-align: justify;
}
#projects{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top:8vw;
    margin-bottom:8vw;
}

.projectImg{
    width: 12%;
    height: auto;
    margin-right: 1vw;
    display:inline-block;
    border-right:2px solid #ffb619;
}

.animate{
    animation: imgRotation 2s linear;
    animation-fill-mode: forwards;
}

@keyframes imgRotation {
    from {
      transform: rotate(-180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.projectsHeader{
    width:12%;
    height: auto;
    font-family: Montserrat;
	font-weight: 800;
    font-size: 2vw;
    padding:1vw;
    color:#adb4b8;
    border-top:2px solid #12d6f3;
    border-bottom:4px solid #ff5757;
    border-right:2px solid #2cd95d;
    border-left:none;
    text-align: center;
}

/*Analog Clock*/

.firstProject{
    width:99%;
    height: auto;
    background-color:  rgba(13, 13, 21, 0);
    padding: 0;
    margin-bottom:5vh;
    margin:0.5vw;
}

#analogClock{
    width:40%;
    height: auto;
    position: relative;
    margin-top:5vw;
    margin-bottom: 5vw;
    margin-left:5%;
    display: inline-flex;
}

#clockInfo{
    width:40%;
    height: 30vw;
    margin-top:5vw;
    margin-bottom: 5vw;
    margin-left:10%;
    margin-right:4%;
    float: right;
    justify-content: center;
    text-align: center;
}

#clockInfo h1{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 3vw;
    text-transform: uppercase;
}

#clockInfo p{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 1px;
}
.container{
	width:100%;
	height: auto;
}

.clockContainer{
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
    align-items: center;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow:0px 3px 6px #00000066;
}

#outterClock{
    width: 100%;
	height: auto;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #FFFFFF;
    display:flex;
    position: absolute;
}

#clock{
	width: 30vw;
	height: 30vw;
	background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;
    border:2px solid rgba(255, 215, 0, 0.5);
	display:flex;
	

}

#innerCircle{
	width:2vw;
	height: 2vw;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	box-shadow: 0px 3px 6px #00000066;
	position: absolute;
}

#hours{
	width:20vw;
	height:0.8vw;
	background: linear-gradient(
        to right, 
        rgba(255, 118, 0, 0) 0%, 
        rgba(255, 118, 0, 0) 50%, 
        rgba(15, 77, 112, 1) 50%, 
        rgba(28, 229, 255, 1) 100%
      );
	border-radius:6px;
	transform: rotate(270deg);
    position: absolute;
    animation: rotation 86400s infinite linear;
}

#minutes{
	width:26vw;
	height:0.7vw;
    background: linear-gradient(
        to right, 
        rgba(255, 118, 0, 0) 0%, 
        rgba(255, 118, 0, 0) 50%, 
        rgba(156, 20, 20, 1) 50%, 
        rgba(255, 28, 28, 1) 100%
      );
	border-radius:6px;
	transform: rotate(270deg);
    position: absolute;
    animation: rotation 3600s infinite linear;
}

#seconds{
	width:28vw;
	height:0.6vw;
    background: linear-gradient(
        to right, 
        rgba(255, 118, 0, 0) 0%, 
        rgba(255, 118, 0, 0) 50%, 
        rgba(7, 63, 12, 1) 50%, 
        rgba(17, 199, 56, 1) 100%
      );
	border-radius:6px;
	transform: rotate(270deg);
    position: absolute;
    animation: rotation 60s infinite linear;
}

  @keyframes rotation {
    from {
      transform: rotate(270deg);
    }
    to {
      transform: rotate(629deg);
    }
  }
  
.twelve{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:0;
    color:rgba(255, 188, 0, 1);
}

.one{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:1.3vw;
    left:26vw;
    color:rgba(255, 188, 0, 1);
}

.two{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:6.2vw;
    left:30.5vw;
    color:rgba(255, 188, 0, 1);
}

.three{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:12.5vw;
    left:32.5vw;
    color:rgba(255, 188, 0, 1);
}
.four{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:19.5vw;
    left:30.5vw;
    color:rgba(255, 188, 0, 1);
}
.five{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:24.5vw;
    left:25.5vw;
    color:rgba(255, 188, 0, 1);
}
.six{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:26.3vw;
    left:19vw;
    color:rgba(255, 188, 0, 1);
}
.seven{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:24.5vw;
    left:12.3vw;
    color:rgba(255, 188, 0, 1);
}
.eight{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:19.7vw;
    left:7.2vw;
    color:rgba(255, 188, 0, 1);
}

.nine{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:4vw;
    height: 4vw;
    top:12.8vw;
    left:5.2vw;
    color:rgba(255, 188, 0, 1);
}

.ten{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:6.2vw;
    left:7vw;
    color:rgba(255, 188, 0, 1);
}

.eleven{
    position: absolute;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3vw;
    width:2vw;
    height: 2vw;
    top:1.5vw;
    left:11.7vw;
    color:rgba(255, 188, 0, 1);
}
/*S-und-Co*/

.secondProject{
    width:99%;
    height: auto;
    background-color:  rgba(13, 13, 21, 0);
    padding: 0;
    margin-bottom:5vh;
    margin:0.5vw;
}

.secondProjectMobile{
    display: none;
}

#sundco{
    width:40%;
    height: 30vw;
    position: relative;
    margin-top:5vw;
    margin-bottom: 5vw;
    margin-right:4%;
    display: inline-flex;
}

#sundcoInfo{
    width:40%;
    height: 30vw;
    margin-top:6vw;
    margin-left:5%;
    margin-right:10%;
    float: left;
    justify-content: center;
    text-align: center;
}

#sundcoInfo h1{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 3vw;
    text-transform: uppercase;
}

#sundcoInfo p{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 1px;
}

.seeMore{
    cursor: pointer;
    background-color: transparent;
    color:rgba(13, 13, 21, 0.85);
    font-family: Montserrat;
    font-weight: 800;
    width:40%;
    height:2vw;
    font-size: 1vw;
    border-top: 0;
    border-bottom: 0;
    margin-top:2vw;
    padding-left:3vw;
    padding-right: 3vw;
    color: white;
    outline: transparent;
    transition: ease-out 1s;
}

.seeMore:hover{
    padding-right: 0;
    padding-left: 0;
    width:25%;
    transition: ease-in 1s;
}

/*About me*/

#aboutHeader{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items:center;
}
#aboutHeader h1{
    color:#f4f4f4;;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 2vw;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 1rem;
}

#aboutParagraph{
    width:60%;
    height: auto;
    margin-top:3vw;
    margin-left: 20%;
    display: flex;
    justify-content: center;
}

#aboutParagraph p{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 1px;
    line-height: 2vw;
}

.skills{
    width:100%;
    height: auto;
    margin-top:5vw;
}


.skillsbackend{
    width:30%;
    margin-right:10%;
    box-shadow: 0px 3px 6px #FFFFFF;
    float: right;
    padding-bottom:1.9vw;
}

.skillsfrontend{
    width:30%;
    margin-left:10%;
    box-shadow: 0px 3px 6px #FFFFFF;
    display: inline-block;
}

.skills h1{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 1vw;
    text-transform: uppercase;
    padding: 1rem;
}

.skills li{
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 1px;
    margin-left:3vw;
    margin-bottom:3vw;
    width:80%;
}

.bar{
    background:#1e4858;
    display:block;
    height:1vw;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:4px;
    overflow: hidden;
    box-shadow: 0 0 6px #FFFFFF;
}

.bar span{
    height:1vw;
    float: left;
    background-color: #02dcff;
}

#python{
    width:50%;
}

.python-animate {
    animation: python 4s;
}

@keyframes python{
     0%{
       width: 0%;
    }

    100%{
        width:50%;
    } 
}

#java{
    width:60%;
}

.java-animate{
    animation: java 4s;
}

@keyframes java{
    0%{
      width: 0%;
   }

   100%{
       width:60%;
   } 
}

#node{
    width:70%;
}

.node-animate{
    animation: node 4s;
}

@keyframes node{
    0%{
      width: 0%;
   }

   100%{
       width:70%;
   } 
}

#html5{
    width:95%;
}

.html5-animate{
    animation: html5 4s;
}

@keyframes html5{
    0%{
      width: 0%;
   }

   100%{
       width:95%;
   } 
}

#css3{
    width:85%;
}

.css3-animate{
    animation: css3 4s;
}

@keyframes css3{
    0%{
      width: 0%;
   }

   100%{
       width:85%;
   } 
}

#javascript{
    width:70%;
}

.javascript-animate{
    animation: javascript 4s;
}

@keyframes javascript{
    0%{
      width: 0%;
   }

   100%{
       width:70%;
   } 
}

#jquery{
    width:60%;
}

.jquery-animate{
    animation: jquery 4s;
}

@keyframes jquery{
    0%{
      width: 0%;
   }

   100%{
       width:60%;
   } 
}

#bootstrap{
    width:75%;
}

.bootstrap-animate{
    animation: bootstrap 4s;
}

@keyframes bootstrap{
    0%{
      width: 0%;
   }

   100%{
       width:75%;
   } 
}

#react{
    width:40%;
}

.react-animate{
    animation: react 4s;
}

@keyframes react{
    0%{
      width: 0%;
   }

   100%{
       width:40%;
   } 
}

#mysql{
    width:30%;
}

.mysql-animate{
    animation: mysql 4s;
}

@keyframes mysql{
    0%{
      width: 0%;
   }

   100%{
       width:30%;
   } 
}

#mongoDB{
    width:70%;
}

.mongoDB-animate{
    animation: mongoDB 4s;
}

@keyframes mongoDB{
    0%{
      width: 0%;
   }

   100%{
       width:70%;
   } 
}

/*Footer*/

#footer{
    padding: 0;
    width:100%;
    height:10vw;
    background-color:  #282828;
    margin-top:8vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

#footerMobile{
    display:none;
}

.contact{
    width:30%;
    height: auto;
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 0.9vw;
    letter-spacing: 1px;
    line-height: 2vw;
    margin-left:3%;
}

.backToTop{
    width:30%;
    height: auto;
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 1px;
    line-height: 2vw;
    justify-content: center;
    text-align: center;
}

.social{
    width:30%;
    height: auto;
    color:#f4f4f4;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 1vw;
    letter-spacing: 1px;
    margin-left:3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fa-angle-double-up{
    margin-top:2vw;
    cursor: pointer;
}

.backToTop h1{
    padding:0;
    margin:0;
}

.socialIcons img{
    margin-right:1vw;
    cursor: pointer;
}

/*-----------------------------------------------Mobile Version-----------------------------------------------------*/

@media screen and (max-width :600px){

	*{
		box-sizing: border-box;
		font-size: 10px;
	}
	
	body{
		padding:0;
		margin:0;
		width:100%;
		height: auto;
    }
    
    #navHr{
        width:10%;
        border: 1px solid #515252;
        margin-top:1vh;
        margin-bottom:0.5vh;
    }
    
    .navbar-links{
        display:flex;
        width:100%;
        height:30px;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-links ul{
        height:auto;
        list-style: none;
        display: flex;
        padding: 0;
        margin:0;
    }
    
    .navbar-links li a{
        text-decoration: none;
        color:#515252;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 2vw;
        padding: 1rem;
        margin-top:1vh;
        margin-bottom:0.5vh;
    }
    
    .navbar-links li a:hover{
        background-color: #515152;
        color: #ffffff;
    }
    
    .heroImg{
        width:100%;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
    }

    #fullName{
        color:#FFFFFF;
        font-family:Montserrat sans-serif;
        font-weight: 500;
        font-size: 6vw;
        text-shadow: 0px 1.2px 1.2px;
    }
    
    hr{
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    }
    
    
    #degree{
        color:#FFFFFF;
        font-family:Montserrat sans-serif;
        font-weight: 300;
        font-size: 3vw;
        margin-top:3vh;
        text-shadow: 0px 1.2px 1.2px;
    }

    #welcome-section{
        width:100%;
        height: 41vh;
        background-image: url("../images/welcomeImg.jpg");
        background-size: contain;
        background-attachment: fixed;
    }
    .row{
        width:100%;
        height: auto;
        display:flex;
        background-color: rgba(13, 13, 21, 0.85);
        position: relative;
    }
    
    .message{
        width:100%;
        height: auto;
        display: inline-block;
        text-align: center;
        line-height: 2vw;
        background-color: rgba(0, 0, 0, 0.2);
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    .message h1{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 4vw;
        text-transform: uppercase;
    }
    
    .message p{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 2vw;
        letter-spacing: 0.5px;
        line-height: 2em;
    }

    #projects{
        width:100%;
        height:10vh;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top:8vh;
        margin-bottom:8vh;
    }

    .projectImg{
        display:none;
    }

    .projectsHeader{
        width:25%;
        height: auto;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 4vw;
        padding:1vw;
        color:#adb4b8;
        display: flex;
        justify-content: center;
        border-top:2px solid #12d6f3;
        border-bottom:2px solid #ff5757;
        border-right:2px solid #2cd95d;
        border-left:2px solid #ffb619; 
        text-align: center;
    }

    .firstProject{
        width:99%;
        height: 90vh;
        background-color:  #282828;
        padding: 0;
        margin-bottom:5vh;
        margin:0.5vw;
    }
    
    #analogClock{
        width:90%;
        height: 30vw;
        position: relative;
        margin-top:5vw;
        margin-bottom: 5vw;
        margin-left:5%;
        display: inline-flex;
    }
    .one{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:1vw;
        left:50vw;
        color:rgba(255, 188, 0, 1);
    }
    
    .two{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:5.7vw;
        left:54.5vw;
        color:rgba(255, 188, 0, 1);
    }
    
    .three{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:12vw;
        left:57vw;
        color:rgba(255, 188, 0, 1);
    }
    .four{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:19vw;
        left:55.5vw;
        color:rgba(255, 188, 0, 1);
    }
    .five{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:24vw;
        left:50.5vw;
        color:rgba(255, 188, 0, 1);
    }
    .six{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:26vw;
        left:44vw;
        color:rgba(255, 188, 0, 1);
    }
    .seven{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:24vw;
        left:37.3vw;
        color:rgba(255, 188, 0, 1);
    }
    .eight{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:19.5vw;
        left:32.2vw;
        color:rgba(255, 188, 0, 1);
    }
    
    .nine{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:4vw;
        height: 4vw;
        top:12.8vw;
        left:30.2vw;
        color:rgba(255, 188, 0, 1);
    }
    
    .ten{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:6.2vw;
        left:32vw;
        color:rgba(255, 188, 0, 1);
    }
    
    .eleven{
        position: absolute;
        font-family: 'Cabin Sketch', cursive;
        font-size: 3vw;
        width:2vw;
        height: 2vw;
        top:1.5vw;
        left:36.7vw;
        color:rgba(255, 188, 0, 1);
    }
    
    #clockInfo{
        width:90%;
        height: 30vw;
        margin-top:5vw;
        margin-bottom: 5vw;
        margin-left:10%;
        margin-right:4%;
        float: right;
        justify-content: center;
        text-align: center;
    }

    #clockInfo h1{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 4vw;
        text-transform: uppercase;
    }
    
    #clockInfo p{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 2vw;
        letter-spacing: 1px;
    }

    .seeMore{
        cursor: pointer;
        background-color: transparent;
        color:rgba(13, 13, 21, 0.85);
        font-family: Montserrat;
        font-weight: 800;
        width:40%;
        height:2vw;
        font-size: 2vw;
        border-top: 0;
        border-bottom: 0;
        margin-top:2vw;
        padding-left:3vw;
        padding-right: 3vw;
        color: white;
        outline: transparent;
        transition: ease-out 1s;
    }

    .seeMore:hover{
        padding-right: 0;
        padding-left: 0;
        width:25%;
        transition: ease-in 1s;
    }

    .secondProject{
        display: none;
    }

    .secondProjectMobile{
        width:99%;
        height: 90vh;
        background-color:  #282828;
        padding: 0;
        margin-bottom:5vh;
        margin:0.5vw;
        display: block;
    }
    
    #sundcoMobile{
        width:90%;
        height: 30vh;
        position: relative;
        margin-top:10vh;
        margin-bottom: 2vh;
        margin-left:5vw;
        display: inline-flex;
    }
    
    #sundcoInfoMobile{
        width:90%;
        height: 30vh;
        margin-top:6vw;
        margin-left:5%;
        margin-right:10%;
        float: left;
        justify-content: center;
        text-align: center;
    }
    
    #sundcoInfoMobile h1{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 4vw;
        text-transform: uppercase;
    }
    
    #sundcoInfoMobile p{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 2vw;
        letter-spacing: 1px;
    }

    #aboutHeader{
        margin-top: 5vw;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    #aboutHeader h1{
        color:#f4f4f4;;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 3vw;
        text-transform: uppercase;
        border: 2px solid white;
        padding: 1rem;
    }
    
    #aboutParagraph{
        width:60%;
        height: auto;
        margin-top:3vw;
        margin-left: 20%;
        display: flex;
        justify-content: center;
    }
    
    #aboutParagraph p{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 2vw;
        letter-spacing: 1px;
        line-height: 3vh;
    }

    .skills{
        width:100%;
        height: 90vh;
        margin-top:5vw;
    }
    
    
    .skillsbackend{
        width:40%;
        margin-right:10%;
        box-shadow: 0px 3px 6px #FFFFFF;
        float: right;
        padding-bottom:1.9vw;
        margin-top:25vh;
    }
    
    .skillsfrontend{
        width:40%;
        margin-left:10%;
        box-shadow: 0px 3px 6px #FFFFFF;
        display: inline-block;
        margin-top:30vh;
    }
    
    .skills h1{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 1vw;
        text-transform: uppercase;
        padding: 1rem;
    }
    
    .skills li{
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 1vw;
        letter-spacing: 1px;
        margin-left:3vw;
        margin-bottom:3vw;
        width:80%;
    }

    #footer{
        display: none;
    }

    #footerMobile{
        padding: 0;
        width:100%;
        height:35vh;
        background-color:  #282828;
        margin-top:8vw;
        display: block;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
    }

    .contact{
        width:90%;
        height: auto;
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 0.9vw;
        letter-spacing: 1px;
        line-height: 2vw;
        margin-left:5%;
        margin-top:4vh;
    }
    
    .backToTop{
        width:100%;
        height: auto;
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 1vw;
        letter-spacing: 1px;
        line-height: 2vw;
        justify-content: center;
        text-align: center;
        margin-bottom:2vh;
    }
    
    .social{
        width:90%;
        height: auto;
        color:#f4f4f4;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 1vw;
        letter-spacing: 1px;
        margin-left:5%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top:2vh;
        margin-bottom: 2vh;
    }
    
    .fa-angle-double-up{
        margin-top:2vh;
        cursor: pointer;
    }
    
    .backToTop h1{
        padding:0;
        margin:0;
    }
    
    .socialIcons img{
        margin-right:2vw;
        cursor: pointer;
    }
}